/* VARIABLES */

:root {
    --font: Tahoma, Arial, sans-serif;
    --text: #DDF;
    --text-grayed: #99B;
    --bg: #050505;
    --bg-2: #111;
    --bg-3: #222;
    --primary: #45F;
    --secondary: #8ea;
}

/* CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ol, ul {
    display: block;
    list-style: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}
