html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font);
    background: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--primary);
}

a:hover, a:focus, a:active {
    text-decoration: underline;
}

a:active {
    color: var(--secondary);
}

.button {
    display: block;
    padding: .5rem;
    background: var(--bg-2);
    border: 1px solid var(--primary);
    border-radius: 4px;
    font-size: 1.4rem;
    cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
    text-decoration: none;
    color: var(--secondary);
    border-color: var(--secondary);
}

.button:active {
    text-decoration: underline;
}

.color {
    color: var(--secondary);
}

.disabled {
    color: var(--text-grayed);
    user-select: none;
    cursor: not-allowed;
}

.footer {
    padding: 5vh 5%;
    background: #000;
    color: #FFF;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bg-3);
    background: rgba(20, 20, 20, 0.9);
}

.horiz-scroll {
    padding-bottom: 1rem;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}

input {
    padding: .2rem;
    appearance: none;
    background-color: var(--bg-2);
    border: 1px solid var(--bg-3);
    border-radius: 4px;
}

input:focus {
    outline: 2px solid var(--primary);
}

section {
    padding: 1rem;
}
